<div class="row">
  <div class="col-12 col-sm-6 col-md-6 col-lg-4" *ngFor="let player of players">
    <div class="card" (click)="routeTo(player.id)">
      <div class="card-wrapper d-flex align-items-center">
        <figure class="card-img">
          <img class="card-img-top" src='../../../assets/user.png'>
        </figure>
        <div class="card-description">
          <h5 class="card-title">Name: {{player.name}}</h5>
          <h5 class="card-title">Age: {{player.age}}</h5>
          <h5 class="card-title">Position: {{player.position}}</h5>
          <!-- change h5 -->
        </div>
      </div>
    </div>
  </div>
</div>
